<!-- <span id='fire-icon' class="bi bi-fire">  </span> -->
<div id="loader" class="container-fluid">
    <div class="row mt-4 p-4">
        <div class="col-sm-8">
            <h4>Instructions</h4>
            <markdown [data]="loaderService.currentConfiguration?.instructions"></markdown>
          

        </div>
        <div class="col-sm-4">
            <section>
                <h4>Links</h4>
                <ul class="list-group">
                    <li *ngFor="let l of loaderService.currentConfiguration?.links" class="list-group-item">
                        <a [href]="l.url" target="_blank">{{l.name}}</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
    <div class="row my-4 p-4">
        <div class="col-sm-7">
            <h4>Data Controls
                <button class="me-2 btn btn-sm btn-outline-secondary" role="button" (click)="reloadStackConfiguration()"
                    [disabled]="state == 'loading'"><span class="bi bi-arrow-clockwise"></span>
                    Reload Form</button>
            </h4>
            <div class="input-group input-group-md">
                <span class="input-group-text"> <span class="bi bi-fire"></span>&nbsp; FHIR Base URL</span>
                <input type="text" class="form-control" [ngModel]="loaderService.currentConfiguration?.fhir_base_url" />
            </div>
            <div *ngIf="files_to_load.length == 0">
                <span class="badge bg-warning">No data files have been configured to load. Please update the controller
                    configuration file if you'd like to load FHIR bundles.</span>
            </div>
            <div *ngIf="files_to_load.length > 0" class="">
                <h4 class="mt-4">Files
                </h4>
                <button role="button" class="btn btn-md btn-outline-secondary" (click)="toggleSelected()"> <span
                        class="bi bi-check-square"></span> Toggle Selections</button>
                <div class="float-end">
                    <button class="btn btn-md btn-success" role="button" (click)="load()"
                        [disabled]="state == 'loading'"><span class="bi bi-save"> Load Selected File
                            Sequence</span></button>
                    <button *ngIf="development" class="btn btn-md btn-secondary" role="button" (click)="test()"><span
                            class="bi bi-chat"></span>
                        Test</button>

                </div>

                <div class="my-2 list-group">
                    <!-- <span class="fw-lighter">The following data files will be loading in the following sequence. </span> -->
                    <span *ngFor="let f of files_to_load" class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">
                                <div class="form-check form-switch form-check-secondary">
                                    <span *ngIf="f.loader === loaderTypes().CQL_AS_FHIR_LIBRARY"
                                        class="bi bi-code"></span>
                                    <span *ngIf="f.loader === loaderTypes().FHIR_BUNDLE || !f.loader"
                                        class="bi bi-fire"></span>
                                    <input class="form-check-input me-1" role="checkbox" [(ngModel)]="f.load"
                                        type="checkbox" />
                                    &nbsp;<a role="button" [href]="f.file" target="_blank">{{f.name}}</a>
                                </div>
                            </h5>

                            <small>{{f.type}}
                                <br>
                                <i>Priority: {{f.priority}}</i>

                            </small>
                        </div>
                        <p class="mb-1">{{f.description}}</p>
                        <small>{{f.file}}</small>
                        @if(f.evaluate?.id != null)
                        { <br>
                        <div class="input-group">
                            @if(f.loader === loaderTypes().CQL_AS_FHIR_LIBRARY) {
                            <div class="input-group-text"><span class="bi bi-people"></span>&nbsp;Subject</div>
                            <select name="subject" id="evaluateSubject" [(ngModel)]="evaluateSubject">
                                <option *ngFor="let s of f.evaluate?.subjects">{{s.name}}
                                </option>
                            </select>
                            @if(this.evaluateSubject) {
                                <button class="btn btn-md btn-success" (click)="evaluateCql(f)"><span
                                        class="bi bi-braces"></span> Evaluate</button>
                                }
                            } @else if (f.loader === loaderTypes().FHIR_BUNDLE) {
                            }
                        </div>
                        }
                        <!-- <span class="badge text-bg-primary rounded-pill">14</span> -->
                    </span>
                </div>
            </div>

        </div>
        <div class="col-sm-5">

            <section class="">
                <h4>Server Utilities</h4>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi-fire"></i>&nbsp;Driver</span>
                    <select class="form-control" [(ngModel)]="loaderService.currentDriver"
                        (ngModelChange)="changeDriver()">
                        <option [value]="driverTypes().Generic"
                            [selected]="loaderService.currentConfiguration?.driver == driverTypes().Generic">Generic</option>
                        <option [value]="driverTypes().Hapi"
                            [selected]="loaderService.currentConfiguration?.driver == driverTypes().Hapi">HAPI FHIR</option>
                        <option [value]="driverTypes().WildFHIR"
                            [selected]="loaderService.currentConfiguration?.driver == driverTypes().WildFHIR">Aegis WildFHIR</option>
                        <option [value]="driverTypes().FHIRCandle"
                            [selected]="loaderService.currentConfiguration?.driver == driverTypes().FHIRCandle">FHIR Candle</option>
                    </select>
                </div>
                <span class="fw-lighter">Unimplemented or
                    incompatible functions of <b>{{loaderService.currentDriver?.name}}</b> will be disabled.</span>
                <br />
                <button class="btn btn-md btn-warning" role="button" (click)="resetServerData()"
                    [disabled]="loaderService.currentDriver?.supports_reset() == false || state == 'loading'"><span class="bi bi-trash">
                        Permanently Reset Server Data</span></button>
            </section>

            <section class="mt-4 pt-4">
                <h4>Controller Messages</h4>
                <span class="fw-lighter">Your activity history.</span>
                <ul class="list-group">
                    <li *ngFor="let m of messages" class="list-group-item" [class]="'list-group-item-' + m.type">
                        <div class="d-flex w-100 justify-content-between">
                            {{m.body}}
                            <small> {{m.date | amTimeAgo}}</small>
                        </div>

                    </li>
                </ul>
            </section>

        </div>
    </div>
</div>