<div id="app-wrapper" [attr.data-bs-theme]="settingsService.theme_effective">

    <app-navigation></app-navigation>
    <div class="main-content">
        <router-outlet />
    </div>
    <footer class="app-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center">
                    <small class="text-muted">
                        FHIR Controller is Open Source Software |
                        <a href="https://github.com/preston/fhir-controller" target="_blank" rel="noopener noreferrer"
                            class="text-decoration-none">
                            <span class="bi bi-github"></span>
                            GitHub
                        </a> | Copyright © 2025 Preston Lee. All rights reserved.
                    </small>
                </div>
            </div>
        </div>
    </footer>
</div>