.success {
    background-color: rgba(25, 135, 84, .9);
}

.info {
    background-color: rgba(13, 110, 253, .9);
}

.warning {
    background-color: rgba(255, 193, 7, .9);
}

.error {
    background-color: rgba(220, 53, 69, .9);
}