// Import highlight.js styles
@import 'highlight.js/styles/github.css';

// body {
//   background: url(/images/textures/binding_dark.png) repeat center center fixed;

// }

body:has([data-bs-theme=light]) {
  background: url("/images/textures/crossword.png") repeat;

}

body:has([data-bs-theme=dark]) {
  background: url("/images/textures/binding_dark.png") repeat;

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  p,
  li,
  b,
  span,
  // a,
  .lead {
    // Simplex override for the default font color that's way too dark.
    color: #aaa;
  }
}