body {
  background: url(/images/textures/gun_metal.png) repeat center center fixed;
  // .form-check-popover {
  //   --bs-popover-header-bg: #e5a09d;
  //   --bs-popover-header-color: #290806;
  //   --bs-popover-bg: #e5a09d;
  //   --bs-popover-body-color: #290806;
  //   --bs-popover-max-width: 100%;
  //   font-weight: bolder;
  //   .popover-header {
  //     border-bottom: 0;
  //   }
  // }
}